.app {
  max-width: 480px;
  padding-left: 28px;
  padding-right: 28px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .app {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media (min-width: 1024px) {
  .app {
    max-width: 768px;
  }
}
